html {
    height: 100%;
    width: auto;
}

body { 
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    transition: opacity 1s ease;
    
}

:root {
    --color-background: #000119;
    --stroke-width: calc(1em / 16);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
    --text: #2B3044;
    --line: #b175dc;
    --line-active: #b175dc;
}

.main-content {
  display: flex;
  flex-direction: column;
}



body {
    background-color: #222;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 3%;
    border-radius: 65px; 
    font-family: my_Arial; 
    color: white;
    text-align: center;
    overflow-x: hidden;
  }

  #preloader{
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100000000;
  }

  #Main_preloader{
    background-color: #222;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 3%;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100000000;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  
  



