.footer {
    z-index: 1;
    --footer-background:rgb(60, 0, 66);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 50px;
}


.footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.footer {
    padding: 6rem 1rem 2rem;
    background: var(--footer-background);
    z-index: 2;
}
.footer .container {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    color: #fff;
}

@-webkit-keyframes bubble-size {
0%, 75% {
width: var(--size, 4rem);
height: var(--size, 4rem);
}
100% {
width: 0rem;
height: 0rem;
}
}

@keyframes bubble-size {
0%, 75% {
width: var(--size, 4rem);
height: var(--size, 4rem);
}
100% {
width: 0rem;
height: 0rem;
}
}
@-webkit-keyframes bubble-move {
0% {
bottom: -4rem;
}
100% {
bottom: var(--distance, 10rem);
}
}
@keyframes bubble-move {
0% {
bottom: -4rem;
}
100% {
bottom: var(--distance, 10rem);
}
}

@media screen and (max-width: 767px){
.footer {
padding: 0 1.5rem;
}
}

@media screen and (max-width: 567px){
.footer .container {
grid-template-columns: repeat(1, 1fr);
row-gap: 3.5rem;
}
}



.footer-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 5;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    max-width: 80px;
}

.footer-logo p {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.footer-links h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul,
.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.footer-social a {
    margin-bottom: 8px;
}

.footer-links a,
.footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.footer-social i {
    font-size: 24px;
    margin-right: 15px;
}
