html {
    height: 100%;
}

body { 
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;;
    
}

:root {
    --color-background: #000119;
    --stroke-width: calc(1em / 16);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
    --text: #2B3044;
    --line: #b175dc;
    --line-active: #b175dc;
}

.main-content {
  display: flex;
  flex-direction: column;
}



body {
    background-color: #222; /* Háttérszín */
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); /* Háttérkép URL */
    background-position: center;
    background-repeat: repeat;
    background-size: 3%; /* Kicsi háttérképmintázat mérete */
    border-radius: 65px; /* A keret kerekítése */
    font-family: Arial, sans-serif; /* Betűtípus */
    color: white; /* Betűszín */
    text-align: center; /* Szöveg középre igazítása */
  }






